.carousel-inner .carousel-item img{
    height: 32rem;
}
@media screen and (max-width: 768px){
    .carousel-inner .carousel-item img{
        height: 18rem;
    }
    .carousel-inner .carousel-item {
        width: 27rem;
    }
    .carousel-inner{
        margin: 0;
    }
}